In [1]:
import datetime
import pandas_datareader as pdr

aapl = pdr.get_data_yahoo('AAPL','2016-11-08','2021-06-08')
aapl

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2016-11-08,27.930000,27.424999,27.577499,27.764999,97016800.0,26.172829
2016-11-09,27.830000,27.012501,27.469999,27.719999,236705600.0,26.130411
2016-11-10,27.772499,26.457500,27.772499,26.947500,228538000.0,25.402210
2016-11-11,27.217501,26.637501,26.780001,27.107500,136575600.0,25.553038
2016-11-14,26.952499,26.020000,26.927500,26.427500,204702000.0,24.912027
...,...,...,...,...,...,...
2021-06-02,125.239998,124.050003,124.279999,125.059998,59278900.0,124.872902
2021-06-03,124.849998,123.129997,124.680000,123.540001,76229200.0,123.355186
2021-06-04,126.160004,123.849998,124.070000,125.889999,75169300.0,125.701668
2021-06-07,126.320000,124.830002,126.169998,125.900002,71057600.0,125.711655
2021-06-08,128.460007,126.209999,126.599998,126.739998,74403800.0,126.550392

In [7]:
aapl_monthly = aapl.resample('M').mean()
aapl_monthly.head(20)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2016-11-30,27.720312,27.185625,27.457500,27.516875,1.397670e+08,25.938935
2016-12-31,28.756309,28.386309,28.498928,28.583929,1.159565e+08,26.944800
2017-01-31,29.970250,29.696375,29.773375,29.892500,1.126244e+08,28.178332
2017-02-28,33.540395,33.209210,33.308684,33.428552,1.210460e+08,31.606276
2017-03-31,35.299457,34.927282,35.090543,35.154457,9.767450e+07,33.282219
2017-04-30,35.899474,35.581842,35.757500,35.721710,7.859034e+07,33.819264
2017-05-31,38.265341,37.777159,37.991477,38.056932,1.189058e+08,36.125685
2017-06-30,37.272159,36.645682,37.053750,36.957840,1.243960e+08,35.133983
2017-07-31,37.294125,36.776375,37.024125,37.074875,8.440238e+07,35.245243
2017-08-31,40.037935,39.450870,39.736739,39.755326,1.149685e+08,37.897228
2017-09-30,39.717375,39.111625,39.527250,39.402125,1.360748e+08,37.604737
2017-10-31,39.646705,39.167614,39.338977,39.454318,9.168933e+07,37.654551
2017-11-30,43.357024,42.747738,43.122619,43.101548,1.144121e+08,41.233917
2017-12-31,43.221375,42.712125,42.930500,42.972875,1.062368e+08,41.160039
2018-01-31,43.800834,43.204524,43.505357,43.501309,1.256532e+08,41.666180
2018-02-28,42.471973,41.369869,41.819079,41.909737,1.953462e+08,40.255957
2018-03-31,44.199881,43.265358,43.761786,43.624048,1.359481e+08,41.954098
2018-04-30,42.914405,42.073095,42.441310,42.458572,1.268865e+08,40.833238
2018-05-31,46.617273,45.965568,46.239091,46.384205,1.129048e+08,44.719295
2018-06-30,47.457976,46.854762,47.180119,47.155357,1.004999e+08,45.525101

In [8]:
aapl_monthly1 = aapl.asfreq('M',method = 'bfill')
aapl_monthly1.head(20)

                 High        Low       Open      Close       Volume  Adj Close
Date
2016-11-30  28.049999  27.567499  27.900000  27.629999  144649200.0  26.045574
2016-12-31  29.082500  28.690001  28.950001  29.037500  115127600.0  27.372362
2017-01-31  30.347500  30.155001  30.287500  30.337500  196804000.0  28.597815
2017-02-28  34.360001  34.174999  34.270000  34.247501   93931600.0  32.423565
2017-03-31  36.067501  35.752499  35.930000  35.915001   78646800.0  34.002254
2017-04-30  36.799999  36.240002  36.275002  36.645000  134411600.0  34.693382
2017-05-31  38.542500  38.095001  38.492500  38.189999   97804800.0  36.305336
2017-06-30  36.240002  35.945000  36.112499  36.005001   92096400.0  34.228165
2017-07-31  37.582500  37.032501  37.474998  37.182499   79383600.0  35.347557
2017-08-31  41.130001  40.869999  40.910000  41.000000  107140400.0  39.129723
2017-09-30  38.612499  38.180000  38.564999  38.452499   74795200.0  36.698429
2017-10-31  42.412498  41.735001  41.974998  42.259998  144187200.0  40.332249
2017-11-30  43.035000  42.110001  42.607498  42.962502  166108800.0  41.150101
2017-12-31  43.075001  42.314999  42.540001  43.064999  102223600.0  41.248272
2018-01-31  42.110001  41.625000  41.717499  41.857498  129915600.0  40.091717
2018-02-28  45.154999  44.512501  44.814999  44.529999  151128400.0  42.825367
2018-03-31  42.235001  41.117500  41.660000  41.669998  150347200.0  40.074856
2018-04-30  41.814999  40.459999  40.532501  41.314999  169709600.0  39.733440
2018-05-31  47.057499  46.535000  46.805000  46.717499  109931200.0  45.102379
2018-06-30  46.825001  45.855000  45.955002  46.794998   70925200.0  45.177208

In [24]:
# Write the class Point as outlined in the instructions
class Point():
    def __init__(self,x= 0.0,y= 0.0):
        self.x = x
        self.y = y

    def distance_to_origin(self):
        return math.sqrt((self.x)**2+(self.y)**2)

po = Point()
po.distance_to_origin(3,4)

TypeError: distance_to_origin() takes 1 positional argument but 3 were given

In [15]:
3^2+4^2

7

In [16]:
3**2+4*2

17

In [26]:
import math

p = 3**2+4**2
print(math.sqrt(p))

5.0

In [28]:
import math

math.sqrt(3**2+4**2)

5.0

In [86]:
# Write the class Point as outlined in the instructions
#import math
class Point():
    import math

    def __init__(self,x= 0.0,y= 0.0):
        self.x = x
        self.y = y

    def distance_to_origin(self):
        #import math
        #return self.math.sqrt((self.x)**2+(self.y)**2)
        return Point.math.sqrt((self.x)**2 + (self.y)**2)

    def reflect(self,axis):
        if axis == 'x':
            self.y = - self.y
        elif axis == 'y':
            self.x = -self.x

pt = Point(x=3.0)
pt.reflect('y')
print((pt.x,pt.y))
pt.y =4.0
print(pt.distance_to_origin())

(-3.0, 0.0)
5.0

In [54]:
d = {
    'one': 1,
    'two': 2,
    'three': 3,
    'four': 4
}

d.get('three')  '''*************************'''

3

In [55]:
dict_gen = {num:num*10  for num in range(5) }

dict_gen

{0: 0, 1: 10, 2: 20, 3: 30, 4: 40}

In [40]:
def return_sum(x = 1, y = 2):
    return x + y

return_sum()

3

In [10]:
[i.upper() for i in['hello', 'world']]

'''*****************************************************'''

['HELLO', 'WORLD']

In [11]:
a = {1, 2, 3}
b = {4, 5, 6}

a.append(b)

AttributeError: 'set' object has no attribute 'append'

In [14]:
a = {1, 2, 3}
b = {4, 5, 6}

a.add(b)

TypeError: unhashable type: 'set'

In [18]:
a = {1, 2, 3}
b = {4, 5, 6}

f = a.update(b)
print(f)

None

In [49]:
a = {1, 2, 3}
b = {4, 5, 6}

f = a.union(b)
print(f)

#******************************************

{1, 2, 3, 4, 5, 6}

In [47]:
thisset = {'apple', 'banana', 'cherry'}
tropical = {'pineapple', 'mango', 'papaya'}

thisset.update(tropical)
print(thisset) 

i = thisset.union(tropical)
print(i)

tropical |= thisset
print(thisset)

print(thisset[0])

{'apple', 'mango', 'banana', 'papaya', 'pineapple', 'cherry'}
{'mango', 'apple', 'banana', 'papaya', 'pineapple', 'cherry'}
{'apple', 'mango', 'banana', 'papaya', 'pineapple', 'cherry'}

TypeError: 'set' object is not subscriptable

In [40]:
thisset = {'apple', 'banana', 'cherry'}
tropical = {'pineapple', 'mango', 'papaya'}

f = thisset.add.i, for i in(tropical)

print(f)

SyntaxError: invalid syntax (2443022367.py, line 4)

In [36]:
class Planet:
    def __init__(self, name, diameter_km):
        self.name = name
        self.diameter_km = diameter_km
    
e = Planet('Earth',12742)
e.name, e.diameter_km

('Earth', 12742)

In [73]:
def add_many(args):
    s = 0
    for n in args:
        s += n
    print(s)
    
add_many((100,50,3))

153

In [75]:
x = (1,2,3)
set(x)

{1, 2, 3}

In [79]:
def to_int(x):
    try:
        return int(x)
    except ValueError:
        print('that value cant be turned into an integer')

to_int("")
to_int(12)

that value cant be turned into an integer

12

In [81]:
def factorial(n):
    '''return n!'''
    return 1 if n< 2 else n*factorial(n-1)

factorial(4)

24

In [82]:
pwd

'/home/jhu/.virtual_environments'

In [84]:
with open ('hello.txt', 'w') as file:
    file.write('hello, john hhu')
    
print(file.closed)

True

In [94]:
def sample(n):
    import random as random
    
    x = []
    for i in range(n):
        x.append(random.random())
    return x

sample(6)

[0.7997059176124843,
 0.5198341604444204,
 0.5174099571573066,
 0.9777635754012898,
 0.8314183261660627,
 0.3957877912571517]

In [95]:
def efficient_sample(n):
    import random as random
    
    x = [random.random() for i in range(n)]
    return x

efficient_sample(6)

[0.40033313388255576,
 0.16787660972599805,
 0.7119073607680337,
 0.28876185923082176,
 0.7201267791696299,
 0.3701865129781474]

In [58]:
lst = [1, 2, 3, 4]

lst_iterator =   [0](lst)

next(lst_iterator)

<>:3: SyntaxWarning: 'list' object is not callable; perhaps you missed a comma?
<>:3: SyntaxWarning: 'list' object is not callable; perhaps you missed a comma?
/tmp/ipykernel_3811/2841676018.py:3: SyntaxWarning: 'list' object is not callable; perhaps you missed a comma?
  lst_iterator =   [0](lst)

TypeError: 'list' object is not callable

In [7]:
?complex()

Object `complex()` not found.

In [8]:
?complex

Init signature: complex(real=0, imag=0)
Docstring:
Create a complex number from a real part and an optional imaginary part.

This is equivalent to (real + imag*1j) where imag defaults to 0.
Type:           type
Subclasses:

In [6]:
help(complex)

Help on class complex in module builtins:

class complex(object)
 |  complex(real=0, imag=0)
 |
 |  Create a complex number from a real part and an optional imaginary part.
 |
 |  This is equivalent to (real + imag*1j) where imag defaults to 0.
 |
 |  Methods defined here:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __divmod__(self, value, /)
 |      Return divmod(self, value).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __float__(self, /)
 |      float(self)
 |
 |  __floordiv__(self, value, /)
 |      Return self//value.
 |
 |  __format__(...)
 |      complex.__format__() -> str
 |
 |      Convert to a string according to format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __int__(self, /)
 |      int(self)
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __pow__(self, value, mod=None, /)
 |      Return pow(self, value, mod).
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __rdivmod__(self, value, /)
 |      Return divmod(value, self).
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rfloordiv__(self, value, /)
 |      Return value//self.
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __rpow__(self, value, mod=None, /)
 |      Return pow(value, self, mod).
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  conjugate(...)
 |      complex.conjugate() -> complex
 |
 |      Return the complex conjugate of its argument. (3-4j).conjugate() == 3+4j.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  imag
 |      the imaginary part of a complex number
 |
 |  real
 |      the real part of a complex number

In [4]:
!pip uninstall colorama
y

Found existing installation: colorama 0.4.4
Uninstalling colorama-0.4.4:
  Would remove:
    /home/jhu/.virtual_environments/py39/lib/python3.9/site-packages/colorama-0.4.4.dist-info/*
    /home/jhu/.virtual_environments/py39/lib/python3.9/site-packages/colorama/*
Proceed (Y/n)? ^C
ERROR: Operation cancelled by user

NameError: name 'y' is not defined

In [3]:
y

NameError: name 'y' is not defined